*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  border: 1px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.input_btn, .delete_btn:focus{
  outline: none;
}